body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: red;
}

* {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    
  }

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
